@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");

.contact-jumbotron {
  background-color: rgb(32, 24, 24);
}
.contact-head {
  color: Red;
  font-family: "Balsamiq Sans", cursive;
  padding-top: 10px;
  padding-left: 35px;
  font-size: 46px;
  font-weight: 800;
}
.sub-head {
  font-family: "Balsamiq Sans", cursive;
  padding-left: 35px;
  font-size: 44px;
  padding-bottom: 20px;
}
.pb-3 {
  font-weight: 700;
  font-size: 60px;
}
